In [99]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import requests
import io

In [104]:
# Import confirmed cases data from the github repo
con_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
s_con=requests.get(con_url).content
con_df=pd.read_csv(io.StringIO(s_con.decode('utf-8')))
con_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,50,53,59,70,75,82,114,147,177
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,502,511,581,639,639,701,773,839,825,878
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,150,160,178,178,200,212,226,243,266
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,99,117,129,149,149,197,238,428,566,673

In [105]:
con_df.shape

(460, 60)

In [107]:
con_df['Country/Region'].unique()

array(['Thailand', 'Japan', 'Singapore', 'Nepal', 'Malaysia', 'Canada',
       'Australia', 'Cambodia', 'Sri Lanka', 'Germany', 'Finland',
       'United Arab Emirates', 'Philippines', 'India', 'Italy', 'Sweden',
       'Spain', 'Belgium', 'Egypt', 'Lebanon', 'Iraq', 'Oman',
       'Afghanistan', 'Bahrain', 'Kuwait', 'Algeria', 'Croatia',
       'Switzerland', 'Austria', 'Israel', 'Pakistan', 'Brazil',
       'Georgia', 'Greece', 'North Macedonia', 'Norway', 'Romania',
       'Estonia', 'San Marino', 'Belarus', 'Iceland', 'Lithuania',
       'Mexico', 'New Zealand', 'Nigeria', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Hungary', 'Liechtenstein', 'Poland',
       'Tunisia', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Colombia', 'Costa Rica', 'Peru', 'Serbia',
       'Slovakia', 'Togo', 'Malta', 'Martinique', 'Bulgaria', 'Maldives',
       'Bangladesh', 'Paraguay', 'Albania', 'Cyprus', 'Brunei', 'US',
       'Burkina Faso', 'Holy See', 'Mongolia', 'Panama', 'China', 'Iran',
       'Korea, South', 'France', 'Cruise Ship', 'Denmark', 'Czechia',
       'Taiwan*', 'Vietnam', 'Russia', 'Moldova', 'Bolivia', 'Honduras',
       'United Kingdom', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Jamaica',
       'Turkey', 'Cuba', 'Guyana', 'Kazakhstan', 'Ethiopia', 'Sudan',
       'Guinea', 'Aruba', 'Kenya', 'Antigua and Barbuda', 'Uruguay',
       'Ghana', 'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Eswatini', 'Gabon', 'Guatemala', 'Guernsey',
       'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Netherlands', 'Benin',
       'Greenland', 'Liberia', 'Republic of the Congo', 'Somalia',
       'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro', 'The Gambia'],
      dtype=object)

In [108]:
con_df.replace({'Taiwan*' : 'Taiwan'}, inplace=True)

In [110]:
# Import recovered cases data from the github repo
rec_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
s_rec=requests.get(rec_url).content
rec_df=pd.read_csv(io.StringIO(s_rec.decode('utf-8')))
rec_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,31,31,33,34,34,35,35,35,35,41
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,76,76,101,118,118,118,118,118,144,144
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,78,78,96,96,97,105,105,109,114
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,24,24,24,26,26,26,35,42,42,49

In [111]:
rec_df['Country/Region'].unique()

array(['Thailand', 'Japan', 'Singapore', 'Nepal', 'Malaysia', 'Canada',
       'Australia', 'Cambodia', 'Sri Lanka', 'Germany', 'Finland',
       'United Arab Emirates', 'Philippines', 'India', 'Italy', 'Sweden',
       'Spain', 'Belgium', 'Egypt', 'Lebanon', 'Iraq', 'Oman',
       'Afghanistan', 'Bahrain', 'Kuwait', 'Algeria', 'Croatia',
       'Switzerland', 'Austria', 'Israel', 'Pakistan', 'Brazil',
       'Georgia', 'Greece', 'North Macedonia', 'Norway', 'Romania',
       'Estonia', 'San Marino', 'Belarus', 'Iceland', 'Lithuania',
       'Mexico', 'New Zealand', 'Nigeria', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Hungary', 'Liechtenstein', 'Poland',
       'Tunisia', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Colombia', 'Costa Rica', 'Peru', 'Serbia',
       'Slovakia', 'Togo', 'Malta', 'Martinique', 'Bulgaria', 'Maldives',
       'Bangladesh', 'Paraguay', 'Albania', 'Cyprus', 'Brunei', 'US',
       'Burkina Faso', 'Holy See', 'Mongolia', 'Panama', 'China', 'Iran',
       'Korea, South', 'France', 'Cruise Ship', 'Denmark', 'Czechia',
       'Taiwan*', 'Vietnam', 'Russia', 'Moldova', 'Bolivia', 'Honduras',
       'United Kingdom', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Jamaica',
       'Turkey', 'Cuba', 'Guyana', 'Kazakhstan', 'Ethiopia', 'Sudan',
       'Kenya', 'Guinea', 'Aruba', 'Antigua and Barbuda', 'Uruguay',
       'Ghana', 'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Eswatini', 'Gabon', 'Guatemala', 'Guernsey',
       'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Netherlands', 'Benin',
       'Greenland', 'Liberia', 'Republic of the Congo', 'Somalia',
       'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro', 'The Gambia'],
      dtype=object)

In [112]:
rec_df.replace({'Taiwan*' : 'Taiwan'}, inplace=True)

In [113]:
# Import death cases data from the github repo
dth_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
s_dth=requests.get(dth_url).content
dth_df=pd.read_csv(io.StringIO(s_dth.decode('utf-8')))
dth_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,6,10,10,15,16,19,22,22,27,29
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [114]:
dth_df['Country/Region'].unique()

array(['Thailand', 'Japan', 'Singapore', 'Nepal', 'Malaysia', 'Canada',
       'Australia', 'Cambodia', 'Sri Lanka', 'Germany', 'Finland',
       'United Arab Emirates', 'Philippines', 'India', 'Italy', 'Sweden',
       'Spain', 'Belgium', 'Egypt', 'Lebanon', 'Iraq', 'Oman',
       'Afghanistan', 'Bahrain', 'Kuwait', 'Algeria', 'Croatia',
       'Switzerland', 'Austria', 'Israel', 'Pakistan', 'Brazil',
       'Georgia', 'Greece', 'North Macedonia', 'Norway', 'Romania',
       'Estonia', 'San Marino', 'Belarus', 'Iceland', 'Lithuania',
       'Mexico', 'New Zealand', 'Nigeria', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Hungary', 'Liechtenstein', 'Poland',
       'Tunisia', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Colombia', 'Costa Rica', 'Peru', 'Serbia',
       'Slovakia', 'Togo', 'Malta', 'Martinique', 'Bulgaria', 'Maldives',
       'Bangladesh', 'Paraguay', 'Albania', 'Cyprus', 'Brunei', 'US',
       'Burkina Faso', 'Holy See', 'Mongolia', 'Panama', 'China', 'Iran',
       'Korea, South', 'France', 'Cruise Ship', 'Denmark', 'Czechia',
       'Taiwan*', 'Vietnam', 'Russia', 'Moldova', 'Bolivia', 'Honduras',
       'United Kingdom', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Jamaica',
       'Turkey', 'Cuba', 'Guyana', 'Kazakhstan', 'Ethiopia', 'Sudan',
       'Guinea', 'Aruba', 'Kenya', 'Antigua and Barbuda', 'Uruguay',
       'Ghana', 'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Eswatini', 'Gabon', 'Guatemala', 'Guernsey',
       'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Netherlands', 'Benin',
       'Greenland', 'Liberia', 'Republic of the Congo', 'Somalia',
       'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro', 'The Gambia'],
      dtype=object)

In [115]:
dth_df.replace({'Taiwan*' : 'Taiwan'}, inplace=True)

In [120]:
con_group_df = con_df.groupby('Country/Region', as_index=False).sum()
con_group_df.reset_index(inplace=True, drop=True)
con_group_df.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,0,...,4,4,5,7,7,7,11,16,21,22
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,0,2,10,12,23,33,38,42,51,55
2,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,19,20,20,20,24,26,37,48,54,60
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,39
4,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1

In [121]:
rec_group_df = rec_df.groupby('Country/Region', as_index=False).sum()
rec_group_df.reset_index(inplace=True, drop=True)
rec_group_df.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,0,0,0,0,8,8,12,12,12,12
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
4,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
dth_group_df = dth_df.groupby('Country/Region', as_index=False).sum()
dth_group_df.reset_index(inplace=True, drop=True)
dth_group_df.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20
0,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
2,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,0,0,0,0,1,2,3,4,4,4
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
def cal_ewma(input_df, comm=0.3):
    """Calculates the exp wighted moving average using the window size."""
    _df = input_df.ewm(com=comm).mean()['3/10/20']
    
    return _df

In [ ]:
all_pred_df_ew = pd.DataFrame()